$main-font: "Open Sans";
$logo-font: "Rubik Glitch";
$primary-color: #b665d6;
$secondary-color: #f158b5;
$third-color: #f1f1f1;
$xs: 1.2rem;
$sm: 1.4rem;
$md: 1.8rem;
$lg: 2.4rem;
$xl: 3.4rem;
$xxl: 3.8rem;
$main-gradient: linear-gradient(141deg, #b665d6, #f158b5);
$currentImg: currentImg;
$shoeCard: shoeCard